<%= form_tag sessions_path, :method => :post do %>
  <div class="field login_fields">

    <%= text_field_tag :email,params[:user_email], placeholder: 'Enter email' %>
  </div>
<br>

  <div class="field login_fields">

    <%= password_field_tag :password,params[:user_password], placeholder: 'Enter password' %>
  </div>

<br>

  <div class="actions login_fields">
    <%= submit_tag "Login" %>
  </div>
<% end %>
