
<div class="container-fluid">
<div class="row">
<div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
  <div class="article article-1">
    <a href="https://www.mamaearth.ca/" target="_blank"> <%= image_tag("truck.jpg")%></a>
        <br>
        <h1><center> <%= @article.title %></center></h1>
        <h5> <%= @article.text  %></h5>
        <blockquote class="blockquote-reverse"><%= @article.quote %></blockquote>
      </div>
        </div>
          </div>
            </div>
