  <h2> <%= @article.title %></H2>

<table>
  <tr>
    <td>  <%= image_tag("#{@article.image}", :class =>"recipeimages")  %>

    </td><td>
    <blockquote>  <%= @article.text  %></blockquote></td>
  </tr>
</table>


<blockquote class="blockquote-reverse"><%= @article.quote %></blockquote>
