
  <h2> <%= @article.title %></h2>


<table>
  <tr>
    <td><img src="/assets<%= @article.image %>" alt="drinking juice" height="200" width="200">

    </td><td>
    <blockquote>  <%= @article.text  %></blockquote></td>
  </tr>
</table>


<blockquote class="blockquote-reverse"><%= @article.quote %></blockquote>
