
<div class="container-fluid">
  <div class="row">
      <div class="article article-1">
          <a href="https://www.mamaearth.ca/" target="_blank"> <%= image_tag("truck.jpg")%></a>
          <br>
          <h1><center> <%= @article.title %></center></h1>
          <p> <%= @article.text %></p>
          <blockquote class="blockquote-reverse"><%= @article.quote %></blockquote>
    </div>
  </div>
</div>
