<h2>What ingredients do you want to juice today</h2>

<form action="/recipes" method="GET">
   <label for="search_field">Search your favorite ingredients</label>
   <input id="search_field" type="text" name="query">
   <input type="submit">
 </form>

<div class="row">
    <div class="col-md-6">

      <h1>Check out these great recipes</h1>


      <% @recipes.each do |recipe| %>
            <td colspan="2" align="center" > <H1>  <%= link_to recipe.name, "/recipes/#{recipe.id}" %> </H1>  </td>

      <% end %>


    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">

    <div class="col-md-4">
    </div>
  </div>
</div>
