
    <center>
          <h2>What ingredients do you want to juice today</h2>
              <div class="search_form">
                <form action="/recipes" method="GET">
                <label for="search_field">Search your favorite ingredients</label>
                <input id="search_field" type="text" name="query">
                <input type="submit">
              </form>
            </div>

            </center>



<div class="container-fluid">
  <div class="row">
      <% @recipes.each do |recipe| %>

	    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 card">
        		<div class="thumbnail">
          <br>
          <%=image_tag recipe.image.url(:thumb) %>
          <div class="caption">
            <%= recipe.name %>
            <hr >
           <h1> Ingredients</h1>
            <ul>
              <% recipe.ingredients_recipes.each do |ingredient_recipe| %>
              <li style="list-style-type:none"><b><%= ingredient_recipe.ingredient.name %>   </li>
              <% end %>
            </ul>
            <a class="btn-success" href="/recipes/<%= recipe.id %>">Recipe</a>
          </div>
        </div>
      </div>
          <% end %>
    	</div>

</div>
