<center>

 <h2>Why not add to this awesome list</h2>
 <h3>Click create a recipe</h3>
</center>


<div class="bob">
  <div class="shadow">
</br>
      <% @user.recipes.each do |recipe| %>


      <table class="table-rounded">
         <tr>
            <th colspan="2"><%= link_to recipe.name, "/recipes/#{recipe.id}" %></th>
         </tr>
         <tr>
                <td><center><img src="/assets/recipeimages/<%= recipe.image %>" alt="juice" width="300" height="250"></center></td>
         </tr>
         <tr> <td>Rating:</td>  </tr>
      </table>
</br>

 <%end %>

</div>
</div>
