// Place all the styles related to the home_controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.carousel img {
    min-width: 100%;
}

.carousel-inner ul {
  list-style-type: none;

}

.thumbnail {
  border: 0;

}
