// Place all the styles related to the home_controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel-inner{
  width:100%;
  max-height: 200px !important;
}
