// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nested-fields {
  border: solid;
  border-color: darkorange;
  // width: 50%;
  background-color: #fbf583;
  border-radius: 12px;
  padding: 20px;
  // margin-left: 25%;
  border-width: 4px;
}

.links {
  margin-left: 4%;
  text-align: right;
}


.form-group {
  // margin-left: 7%;
  // text-align: left;
}

.createcard {
  width: 50%;
  background-color: #fbf583;
  border-radius: 12px;
  padding: 20px;
  margin-left: 25%;
  border-width: 4px;
}

.editcard {
  // border: solid;
  // border-color: darkorange;
  width: 50%;
  background-color: #fbf583;
  border-radius: 12px;
  padding: 20px;
  margin-left: 25%;
  border-width: 4px;
}

.create {
  margin-left: 4%;
}

.nested-fields {
      border-color: darkorange;
     -webkit-animation: random 7s infinite;
     animation: random 7s infinite;
}
@keyframes  random {
    15% { border-color: #8cc63f; }
    30% { border-color: darkorange; }
    45% { border-color: #8cc63f; }
    60% { border-color: darkorange; }
    75% { border-color: #8cc63f; }
}

.editbutton {
  margin-left: 4%;
}

.fields {
  label {
    width: 15%;
  }
}

.edit_name{
  margin-left: 24%;
  label {
    width: 8%;
  }
}

#error_explanation li{
  list-style-type: none;
}
#error_explanation{
  color: red;
  text-align: left;
}
//
.field_with_errors{
  color: red;
  display: inline-block;
  width: 15%;
}

.search_form{
  padding-left: 30px;
}
// .new_recipe{
//   padding-left: 20px;
// }
.newrecipe h2{
  padding-left: 20px;
}
.recipe_form h1{
  font-family: 'Tillana', cursive;
  padding: 10px 0 10px 20px;
}
.edit_recipe {
  padding-left: 40px;
}
.newrecipe{
font-family: 'Tillana', cursive;
}

.search_form{
  padding: 30px;
}

.search_form label{
font-size: 20px;
}

.nutrition_facts{
border: 2px solid gray;
}
.nutrition_facts th{
  font-size: 18px;
  text-align: right;
}
.nutrition_facts thead{
  border-bottom: 3px solid black;
}

.left_cell, .right_cell{
  border-bottom: 1px solid black
  }

.nutrition_facts tfoot{
  font-size: 12px;
}
.left_cell{
  width: 100px;
  padding-left: 20px;
}

.right_cell{
  width: 60px;
  text-align: right;
  padding-right: 10px;
}
.divider{
  border-bottom: 3px solid black;
}
.sub_cell{
  padding-left: 40px;
}
.daily_value_cell{
  text-align: left;
  padding-right: 0px;
}
.rec {
    // display:table;
    width: 90%;
    background-color: #8cc63f;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;

   border-radius: 12px;
}
.shadow {
   -moz-box-shadow:    inset 0 0 40px #ffffff;
   -webkit-box-shadow: inset 0 0 40px #ffffff;
   box-shadow:         inset 0 0 40px #ffffff;
}
    // --------styles for the recipe/show view
.recipe_show {
  background-color: rgba(33, 150, 243, 0.05);
}
.recipe_description {
  position:relative;
  border-bottom: 1px solid rgba(128, 128, 128, 0.43);
  margin: 35px 0px 35px 0px;
background: rgba(100, 136, 128, 0);
}
.content {
  margin-left: 400px;
  margin-right: 400px;
  margin-top: -15px;
  padding-top: 15px;
  background-color: white;
}
.recipe_heading h3{
  // margin: 40px 250px 0 390px;
  font-size: 30px;
  font-weight: bold;
  color: rgba(27, 38, 98, 0.84);
  text-align: center;
}
.recipe_heading {
  /* width: 100%; */
  margin: 0px;
  padding: 50px;
  height: 200px;
  // background: linear-gradient(to top,#76c41b, #76c41b,#76c41b,#76c41b);
  background: radial-gradient(rgba(118, 196, 27, 0.47), rgb(118, 196, 27));
// background-color: black;
}
.recipe_heading span{
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.review_report{
  display:inline-block;
  padding: 20px 0 20px 500px;
  font-size: 28px;
  color:#FF5722;
}
.review_report a{
  font-size: 30 px;
  padding-left: 10px;
}
.recipe_img {
    width: 350px;
    height: 350px;
}
.recipe_img img {
  padding: 25px 0 10px 50px;
  width:100%;
}
.ingredient_list {
  position:relative;
  padding: 10px 10px;
  display: inline-block;
  border: 1px solid gray;
  margin: 20px 0 20px 70px;
  height: 400px;
  /* width: 60%; */
  /* border-radius: 2%; */
  box-shadow: 5px 5px 5px gray;
}
.ingredient_list h4 {
  color:#8BC34A;
  padding: 0 20px 0 180px;
  font-size: 20px;
  font-weight: bold;
}
.single_ingredient {
  padding: 4px 30px 0 160px;
  font-size: 18px;
}
.list{
  list-style-type: none;
}
.recipe_direction{
  position: absolute;
  bottom: 10px;
  left:30px;
}
.recipe_direction h5{
  color:#8BC34A;
  font-size: 20px;
  font-weight: bold;
}
.edit_link{
  padding: 2px 15px;
  position: absolute;
  bottom: 30px;
  left: 70px;
  background-color: #337ab7;
  border:1px solid #337ab7;
  border-radius: 10%;
}
.edit_link a{
  color: white;
}
li.ingredient_quantity {
    list-style: none;
}
.nutrition_review{
    border-bottom: 1px solid rgba(128, 128, 128, 0.43);
    margin: 0;
}
.recipeimage {
  width: 250px;
  height: 300px;
  margin-left: 15%;
}

.recipeimages {
  width: 200px;
  height: 200px;
}
.nutrition_table{
  margin-top: 10px;
}
.nutrition_facts{
border: 2px solid gray;
margin: 0 20px 0px 70px;
}
.nutrition_facts th{
  font-size: 18px;
  text-align: right;
}
.nutrition_facts thead{
  border-bottom: 3px solid black;
}

.left_cell, .right_cell{
  border-bottom: 1px solid black
  }

.nutrition_facts tfoot{
  font-size: 12px;
}
.left_cell{
  width: 100px;
  padding-left: 20px;
}

.right_cell{
  width: 60px;
  text-align: right;
  padding-right: 10px;
}
.divider{
  border-bottom: 3px solid black;
}
.sub_cell{
  padding-left: 40px;
}
.daily_value_cell{
  text-align: left;
  padding-right: 0px;
}
.thanks{
  position:absolute;
  top: 50%;
  left:50%;
}

/* cards */

.card .thumbnail{
	padding: 0;
	border: 1px black;
  min-height: 500px;
	text-align: center;
	border-radius: 1px;
	-webkit-box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.75);
}
.card .thumbnail .caption{
  margin: -20px 20px 20px 20px;
  padding: 19px 29px 19px 29px;
  position:relative;
  background-color: white;
}
.card .thumbnail .caption hr{
  border-top: 1px solid #8cc63f;
  margin: 20px 40px;
}

.card .thumbnail .caption ul{
  font-size: 15px;
  text-align:center;
  padding: 0;
}

.card .thumbnail .caption button{
  border-radius: 0;
  color: #aaa;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.card .thumbnail .caption button:hover{
  background-color: black;
  border-color: black;
  color: white;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
