// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {
    width: 500px;
    label {
      width: 15%;
    }
}

.edit_name{
  width: 600px;
  clear: both;
  margin-left: 30%;
  text-align: left;
  label {
    width: 13%;
  }
}

.nested-fields{
  width: 600px;
  clear: both;
  margin-left: 30%;
  text-align: left;
}

.nested-fields input{
  width: 60%;
  clear: both;
}


#error_explanation li{
  list-style-type: none;
}
#error_explanation{
  color: red;
  text-align: left;
}

.field_with_errors{
  color: red;
}

.recipe_form{
  text-align: center;
  margin-top: 50px;
}

.nutrition_facts{
border: 2px solid gray;
}
.nutrition_facts th{
  font-size: 18px;
  text-align: right;
}
.nutrition_facts thead{
  border-bottom: 3px solid black;
}

.left_cell, .right_cell{
  border-bottom: 1px solid black
  }

.nutrition_facts tfoot{
  font-size: 12px;
}
.left_cell{
  width: 100px;
  padding-left: 20px;
}

.right_cell{
  width: 60px;
  text-align: right;
  padding-right: 10px;
}
.divider{
  border-bottom: 3px solid black;
}
.sub_cell{
  padding-left: 40px;
}
.daily_value_cell{
  text-align: left;
  padding-right: 0px;
}


.bob {
    // display:table;
    width: 50%;
    background-color: #8cc63f;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;

   border-radius: 12px;


}
.bob .shadow {
   -moz-box-shadow:    inset 0 0 40px #ffffff;
   -webkit-box-shadow: inset 0 0 40px #ffffff;
   box-shadow:         inset 0 0 40px #ffffff;
}


.table-roundedr {
    width: 400px;
    font-size: 11px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #ffffff;
   border-radius: 12px;
    }
.table-roundedr th {
    padding: 10px 20px;
    background-color: orange;
    color: #fff;
    font-size: 15px;
    }
.table-roundedr td{
    padding: 6px;
    vertical-align: middle;
    border: 1px solid #58acee;

    }
.table-roundedr th:first-child, .table-rounded tr:first-child td:first-child {
    border-top-left-radius: 12px;
    }
.table-roundedr th:last-child, .table-rounded tr:first-child td:last-child {
    border-top-right-radius: 12px;
    }
.table-roundedr tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
    }
.table-roundedr tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
    }
.table-roundedr td+td {
    border-left: none;
    }
.table-roundedr tr+tr td, .table-rounded th+tr td{
    border-top: none;
    }
