// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nutrition_facts{
border: 2px solid black;
}
.nutrition_facts th{
  font-size: 18px;
  text-align: center;
}
.nutrition_facts thead{
  border-bottom: 3px solid black;
}

.left_cell, .right_cell{
  border-bottom: 1px solid black
}
.nutrition_facts tfoot{
  font-size: 12px;
}
.left_cell{
  width: 100px;
}

.right_cell{
  width: 60px;
  text-align: center;
}
.divider{
  border-bottom: 3px solid black;
}
.sub_cell{
  margin-left: 10px;
}
