.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}
.star-cb-group * {
  font-size: 28px;
  @media(max-width:320px){
    font-size: 26px;
  }
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: #888;
}
.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
  content: "★";
  color: #FFC107;
  text-shadow: 0 0 1px #333;
}
.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}
.star-cb-group:hover > input + label:before {
  content: "☆";
  color: #888;
  text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
  content: "★";
  color: #FFC107;
  text-shadow: 0 0 1px #333;
}
/*end of star rating styles*/

.review_container {
  padding: 1rem;
  margin: 3% 13%;
  width: 80%;
  border: 1px solid rgba(128, 128, 128, 0.49);
  box-shadow: 0px 5px 20px #9E9E9E;
  background-color: white;
  @media(min-width:768px) AND (max-width:992px){
    width:65%;
    margin:3% 19%;
  }
@media(min-width: 992px) AND (max-width:1171px){
  width:90%;
}
@media(min-width: 1560px){
  width:75%;
}
}
.review_container h4{
  text-align: center;
}
.new_review{
  margin: 25px;
}
fieldset{
  margin:0 15%;
  // width:85%;
  @media(min-width:992px) AND (max-width:1381px){
  margin: 0;
}
}
.comment_box label{
  display:block;
  margin-bottom:4%;
  margin-left:4%;
  @media(min-width: 1560px){
    margin-left:10%;
  }

}
textarea#review_comment {
  margin: 2% 10%;
  width: 75%;
  height:50px;
  @media(min-width:1560px){
    width:70%;
    height:60px;
    margin-left:15%;
  }
}
#review_btn input{
  font-size:1.1rem;
  margin-left:10%;
  @media(max-width:767px){
    font-size: 1.5rem;
  }
  @media(min-width: 1560px){
    margin-left: 15%;
  }
}
.nutrition_review {
  padding-right: 3%;
}
.reviews_column h4{
  font-size: 20px;
  font-weight: 600;
  padding: 20px 10px 10px 0px;
  border-bottom: 1px solid green;
  margin: 0 50px 40px 40px;
  text-align: center;
}
.single_comment {
  margin: 30px 0 40px 3px;
  border-top: 2px solid rgba(128, 128, 128, 0.4);
  border-left: 2px solid rgba(128, 128, 128, 0.4);
  border-radius: 10px 0 0 0;
  width: 90%;
}
.reviews li:first-child{
  padding-bottom: 20px;
}
.reviews li:last-child{
  padding-bottom: 20px;
}
.reviews li {
  list-style-type: none;
}
.single_star {
  color: #FFC107;
  padding-right: 12px;
  font-size: 21px;
}
.star_rates{
  font-size: 28px;
  color: #FFC107;
  padding: 10px 0 0 20px;
}
.commenter{
  color: blue;
}
.comment_info, .comment_text{
  padding-left: 40px;
}
@media(max-width:991px){
  .review_box{
  border-top: 1px solid rgba(139, 195, 74, 0.38);
  margin-right: -3%;
  margin-top: 6%;
  padding-top: 5%;
  }
.review_container{
  margin-bottom:10%;

}
}
