// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login_head {
  color: black;
  font-family: 'Montserrat', sans-serif;


}

// .login_fields {
//
//   font-size:
//
// }
.login {
 text-align: center;

 background-color:rgb(195, 218, 56);
 margin: 0 37% 0 37%;
 font-family: 'Montserrat', sans-serif;
}

// .login:hover {
//  background-color: rgb(255, 120, 70);
// }
