// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .login_head {
//   color: black;
//   font-family: 'Montserrat', sans-serif;
//   padding-bottom: 14%;
//   font-size: 55px;
//   margin-top: -24px;
//
// }

input[type="submit"] {
    /* background-color: #8cc63f; */
    background-color: #8cc63f;
    border: solid 2px #8cc63f;
    font-family: "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 1.2rem;
    border-radius: 4px;
}

.login {
 text-align: center;
 background-color:white;
 margin: 7% 25% 0 25%;
 font-family: 'Montserrat', sans-serif;
 padding: 10% 0 10% 0;
 border-radius: 4px;
 box-shadow: 0 2px 20px 0 #9E9E9E;
}
.login_fields,
.signup_fields {
  padding-top: 2%;
}
input#password {
    width: 70%;
    font-size: 1.2rem;
}
input#email {
    width: 70%;
    font-size: 1.2rem;

}

@media (max-width: 768px){
  .login {
   text-align: center;
   background-color:white;
   margin: 3rem auto;
   font-family: 'Montserrat', sans-serif;
   padding: 10% 0 10% 0;
   width:80%;
  }
  input#password {
      // width: 100%;
  }
  input#email {
      // width: 100%;
  }



}
// .login:hover {
//  background-color: rgb(255, 120, 70);
// }
