// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.usr {
    // display:table;
    width: 60%;
    background-color: #8cc63f;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;

   border-radius: 12px;
}

.table-rounded {
    width: 400px;
    font-size: 11px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #fff;
   border-radius: 12px;
    }
.table-rounded th {
    padding: 10px 20px;
    background-color: orange;
    color: #fff;
    font-size: 15px;
    }
.table-rounded td{
    padding: 6px;
    vertical-align: middle;
    border: 1px solid #58acee;

    }
.table-rounded th:first-child, .table-rounded tr:first-child td:first-child {
    border-top-left-radius: 12px;
    }
.table-rounded th:last-child, .table-rounded tr:first-child td:last-child {
    border-top-right-radius: 12px;
    }
.table-rounded tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
    }
.table-rounded tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
    }
.table-rounded td+td {
    border-left: none;
    }
.table-rounded tr+tr td, .table-rounded th+tr td{
    border-top: none;
    }

.signup {

  text-align: center;
  background-color:#8cc63f;
  margin: 2% 28% 0 28%;
  font-family: 'Montserrat', sans-serif;
  padding: 5% 0 5% 0;
}
.signup a {
  font-size: 17px;
}
.signup_head {
  color: black;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 6%;
  font-size: 55px;

}
// .signup:hover {
//  background-color: rgb(255, 120, 70);
// }
