// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup {

  text-align: center;
  opacity: 0.6;
  filter: alpha(opacity=50);
  background-color: #f7941e;
  margin: 0 20% 0 20%;
  font-family: 'Montserrat', sans-serif;
}
.signup:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
